.gitignore

# Node modules
node_modules/

# Python bytecode
*.py[cod]

# Distribution / packaging
dist/
out/
release/
target/
*.tar.gz
*.zip
*.so
*.dll
*.dylib
*.a
*.exe
*.orig
*.pyo
*.pyd
junit/
reports/
htmlcov/
.cache/
.mypy_cache/
.pytest_cache/
*.egg-info/
*.egg
*.whl
*.pid
